#nav {
    background-color: #708090;
}

#footer {
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 450px;
    padding: 64px;
    background-color: #708090;
    color: #233140;
    width: 100%;
}

#footerImage
{

}

.btn {
    margin-left: 3px;
    margin-right: 3px;
}

div.btn a {
    color: #fff;
}

div.movie {
  display: inline;
  
}

h1 {
    padding: 32px;

}

h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.table{
    background-color: white;
    margin-bottom: 96px;
}

th {
    background-color: #708090;
}
tr:hover{
    background-color: #ffff99;
}

.btn.a{
    color: white;
}

#greeting{
    background-color: #ffff99;
    color: black;
    padding: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.row{

}
#spacer
{
    background-color: #e5e5e5;
    padding: 96px;

}

.navBarImages{
    height: 3.5rem;
    width: 3.5rem;
    margin: 3rem;
}
.navBarTitle{
    color: #ffff99;

}

.cardMovie{
    width: 20rem;
    margin: 1.5rem;
    background-color: white;
    outline-width: 5px;
    outline-color: black;
    box-shadow: 8px 8px 15px #708090;
}

#button1{
    margin: 1.5rem;
}
#button2{
    margin: 1.5rem;
}
.card-body{
    height: 7rem;
}
